*
{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-image: url("../img/background.png");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
a{
    text-decoration: none;
}


