/* _content/RednitDev/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-utsn0o6frq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-utsn0o6frq] {
  color: #0077cc;
}

.btn-primary[b-utsn0o6frq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-utsn0o6frq], .nav-pills .show > .nav-link[b-utsn0o6frq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-utsn0o6frq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-utsn0o6frq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-utsn0o6frq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-utsn0o6frq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-utsn0o6frq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
<<<<<<< HEAD
/* _content/RednitDev/Views/Shared/_LayoutHome.cshtml.rz.scp.css */
.wave[b-suedg9s2v8]{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover;
}

.wave.wave1[b-suedg9s2v8]{
    animation: animate-b-suedg9s2v8 40s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    background-image: url("/background/wave1mirror.png");
}
.wave.wave2[b-suedg9s2v8]{
    animation: animate2-b-suedg9s2v8 34s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    background-image: url("/background/wave2mirror.png");
}
.wave.wave3[b-suedg9s2v8]{
    animation: animate-b-suedg9s2v8 32s linear infinite;
    z-index: 5;
    opacity: 1;
    animation-delay: -2s;
    bottom: 0px;
    background-image: url("/background/wave3mirror.png");
}

@keyframes animate-b-suedg9s2v8 {
    0%
    {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    100%
    {
        background-position-x: 1000px;
        background-position-y: 0px;
    }
}
@keyframes animate2-b-suedg9s2v8 {
    0%
    {
        background-position-x: 1000px;
        background-position-y: 0px;
    }
    100%
    {
        background-position-x: 0px;
        background-position-y: 0px;
    }
}
=======
>>>>>>> chom
